body {
    background: #277fb3;
    background: radial-gradient(circle, #277fb3 0%, #2847a6 100%);
    margin: 0;
    height: 100vh;
    position: relative;
}

#title {
    color: #a2cfee;
    text-shadow:  #4392c7 0px 2px 8px;
    text-align: center;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 5rem;
    margin: 0;
}

#crane1 {
    position: absolute;
    bottom: 0;
    left: 0;
    image-rendering: pixelated;
    transform: scale(10);
    transform-origin: bottom left;
}

#crane2 {
    position: absolute;
    bottom: 0;
    right: 0;
    image-rendering: pixelated;
    transform: scale(-10, 10) translateX(-10%);
    transform-origin: bottom left;
}

@media (max-width: 600px) {
    #title {
        font-size: 2.5rem;
        writing-mode: vertical-lr;
        text-orientation: upright;
        transition: all 0.5s ease;
    }
    #crane1 {
        transform: scale(4);
        transition: all 0.5s ease;
    }
    #crane2 {
        transform: scale(-4, 4) translateX(-25%);
        transition: all 0.5s ease;
    }
}